.instagram-photo {
	max-width: 642px;
	margin: 0 auto 60px;
	background: white;
	font-size: 14px;

	border: thin solid #ddd;
	border-radius: 3px;

	animation: fadeIn 0.6s $ease-out-expo both;

	// Photo wrapper
	> a {
		display: block;
		height: 0;
		padding-bottom: 100%;
		background: #242322;

		img {
			animation: fadeIn 0.5s $ease-out-expo both 0.2s;
		}
	}

	.image {
		width: 100%;
		height: auto;
	}
}

@keyframes fadeIn {
	0% { opacity: 0; }
}

.instagram-photo.mdl-card {
	width: 642px;
}

.instagram-photo > .mdl-badge {
	margin-right: 590px;
}

.instagram-photo .float-right {
	float:right;
}

.instagram-photo .user-profile {
	.user-avatar {
		border: 1px solid #cccfd0;
		border-radius: 50%;
		margin: 0 10px 0 0;
	}
}

.photo-meta {
	color: #a5a7aa;
}

.instagram-photo .comment {
	padding: 2px;
	margin-left: 20px;
}
